.field_play-box {
  background-color: blue;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;

  &.active {
    background-color: yellow;
  }

  &.active-red {
    background-color: red !important;
  }

  &.green {
    background-color: green;
  }
}

.btn-field {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

