.field_play {
  background-color: aqua;
  width: 100%;
  padding: 20px;
}

.text_title {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.field_play--inner {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

.btn {
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: green;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

button[disabled] {
  background-color: #888888 !important;
}

.errors {
  padding: 5px;
  font-size: 24px;
  color: red;
  font-weight: 600;
}

.halper-text {
  margin-top: 10px;
  display: block;;
  width: 100%;

  &.red-text {
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
  }

}

