<div class="field_play">
  <div class="text_title">field-play-game works!</div>
  <form class="form" [formGroup]="forms" (ngSubmit)="isGamer()">
    <label>
      Ведите значение в милисиккундах
      <input class="control_input" type="number" formControlName="time">
      <span class="halper-text red-text"
            *ngIf="forms.get('time').invalid && forms.get('time').touched"
      >
        <span *ngIf="forms.get('time').errors['min']"
              class="errors">Минимальное значение должно быть не меньше 800мс</span>
      </span>
    </label>
    <button type="submit" class="btn" [disabled]="forms.invalid || forms.disabled">Играть</button>
  </form>
  <div>User: {{this.gameService.user}}</div>
  <div>Computer: {{this.gameService.computer}}</div>
  <div #idTest class="field_play--inner">
    <app-field-play
      *ngFor="let x of box"
      [data-number]="x"
    ></app-field-play>
  </div>
</div>

